
img {
   position: relative;
   display: inline-block;
   margin-right: 20px;
}

:root {
   --primary-color: #FFFFFF;
   --secondary-color: #000000;
}
.dark-theme {
   --primary-color: black;
   --secondary-color: white;
}

header {
position: fixed;
top: 0;
left: 0; width: 100%;
padding: 20px 100px;
background:
rgb(49, 53, 54);
display: flex;
justify-content: space-between;
align-items: center; z-index: 100;
}

nav {
   margin-right: 20px;
   min-height: 1vh;
}

.home-content {
   margin-left: 20px;;
   margin-top: 40px;
}
.contact {
   display: inline-block;
   padding: 1rem 2.8rem;
   background-color: var(--secondary-color); 
   border-radius: 4rem;
   font-size: 10px;
   color: var(--primary-color); 
   letter-spacing: 0.3rem;
   font-weight: 650;
   border: 2px solid var(--secondary-color); 
   transition: 0.3s ease;
   cursor: pointer;
}

.contact:hover {
   transform: scale3d(1.03);
   background-color: var(--secondary-color); 
   color: var(--primary-color); 
   box-shadow: 0 0 25px var(--secondary-color);
}
#darklight {
   width: 35px;
   cursor: pointer; 
}

nav a {
   flex: auto;
   text-align: right;
color: black;
}
body {
   background-color: var(--primary-color);
   color:var(--secondary-color);
}

.logo {
   
   color: black;
   
}

.dark-theme #darklight {
   filter: brightness(0) saturate(100%) hue-rotate(30deg) brightness(1.5);
}

