img {
   position: relative;
   display: inline-block;
   margin-right: 20px;
}

header {
position: fixed;
top: 0;
left: 0; width: 100%;
padding: 20px 100px;
background:
rgb(49, 53, 54);
display: flex;
justify-content: space-between;
align-items: center; z-index: 100;
}

nav {
   margin-right: 20px;
   min-height: 1vh;
}

.home-content {
   margin-left: 20px;;
   margin-top: 40px;
}
.contact {
   display: inline-block;
   padding: 1rem 2.8rem;
   background-color: black; 
   border-radius: 4rem;
   font-size: 10px;
   color: white; 
   letter-spacing: 0.3rem;
   font-weight: 650;
   border: 2px solid black; 
   transition: 0.3s ease;
   cursor: pointer;
}

.contact:hover {
   transform: scale3d(1.03);
   background-color: black; 
   color: white; 
   box-shadow: 0 0 25px black;
}
#darklight {
   width: 35px;
   cursor: pointer; 
}
nav a {
   flex: auto;
   text-align: right;
color:black 
}
body {
   background-color: white;
   color:black;
}

.logo {
   color:black 
   
}